 @define-mixin at-Small{
   @media (min-width: 530px){
     @mixin-content;
   }
 }

 @define-mixin at-Medium{
   @media (min-width: 800px){
     @mixin-content;
   }
 }

 @define-mixin at-Large{
   @media (min-width: 1200px){
     @mixin-content;
   }
 }

@define-mixin clearfix{
  &::after{
    content:"";
    clear:both;
    display: table;
  }
}
