.row{
    display: flex;
        flex-direction: column;
        @mixin at-Medium{
          flex-direction: row;
        }
    &__b-margin-until-medium{
      margin-bottom: 1rem;
    }
    @mixin at-Medium{
    &__b-margin-until-medium{
      margin-bottom: 0;
    }
    &__meduim-4{
      width:33.33%;
    }
    &__medium-6{
      width:50%;
    }

    &__medium-8{
      width: 66.66%;
    }
    &__medium-larger{
      width:37%;
    }

    &__medium-smaller{
      width:63%;
    }
    }

    &--gutter{
      margin-right:-65px;
    }

    &--gutter-large{
      margin-right:-100px;
    }
    &----gutter-small{
      margin-right:-45px;
    }

    &--gutter > div{

      padding-right: 65px;
    }

    &--gutter-large > div{
        padding-right:100px;
    }
    &--gutter-small > div{
      padding-right:45px;
    }
    &--t-padding{
      padding-top: 80px;
    }

/*Begin Equal height rules*/
  &--equal-height-at-medium{
    @mixin at-Medium{
      display:flex;
    }
    & > div{
      float: none;
      display: flex;
    }
  }
}
